#contactUs {
  padding: 2rem;
  text-align: center;
  padding-top:20rem;
}

h1 {
  font-size: 2rem;
  color: #6f42c1;
  margin-bottom: 1rem;
}

.contact-icon {
  /* margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px; */
  width: 32px; /* Set a fixed width */
  height: 32px; /* Set a fixed height */
  margin-right: 0.5rem; /* Add spacing between icon and text */
  display: inline-block; /* Keep the icons inline */
}

.contact-icon:hover {
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

